<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN"
			value="%d{ISO8601} %-5p %t [%C{1}.%M()-%L] %m%n"></Property>
	</Properties>

	<Appenders>
		<Console name="console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<RollingFile name="file" fileName="log/SecuritiesWebCrawler.log" filePattern="log/SecuritiesWebCrawler-%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="debug">
			<AppenderRef ref="console" />
			<AppenderRef ref="file" />
		</Root>
	</Loggers>
</Configuration>